[package]
name = "jsonc-parser"
version = "0.21.1"
authors = ["David Sherret <dsherret@gmail.com>"]
edition = "2021"
license = "MIT"
description = "JSONC parser."
repository = "https://github.com/dprint/jsonc-parser"

[dependencies]
serde_json = { version = "1.0", optional = true }

[features]
serde = ["serde_json"]

[dev-dependencies]
pretty_assertions = "1.0.0"
